@charset "UTF-8";
/* CSS Document */

/* MOBILE */
body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
#ai{
		position: relative;
		width:84%;
		margin:30px 35px 0px 35px;
		visibility: visible;
	}
#ai1{
		position: fixed;
		display: block;
		opacity:0;
	}
	#ai2{
		position: fixed;
		display: block;
		opacity:0;
	}
#smw{
	width:90%;
	margin:0px 5px 0px 17px;
}
#sdw{
	width:80%;
	margin:25px 5px 0px 8%;
}
#shfw{
	align-content:center;
	width:120%;
	margin:0px 35px 0px -11%;
	overflow-x:hidden;
}
#dsmw{
		position: fixed;
		display: block;
		overflow-x:hidden;
}	
#dsdw{
		position: fixed;
		display: block;
		overflow-x:hidden;
}
#dshfw{
		position: fixed;
		display: block;
		overflow-x:hidden;
}	
.rcp{
		margin:0 0 0px 0px;
	}
#mf{
	width:90%;
	margin:-40px 0px 0px -5px;
	float:left;
	overflow-x:hidden;
}
#df{
	width:90%;
	margin:0px 0px 0px 130px;
	float:left;
	overflow-x:hidden;
}
#pt{
	align-content:center;
	width:80%;
	margin:30px 10% 30px 10%;
	float:left;
}
#lcp{
		margin:0 0 0px 0px;
	}
#pm{
	width:160%;
	margin:-120px 0px 0px -40%;
	overflow-x:hidden;
}
#lp{
	align-content:center;
	width:80%;
	margin:30px 10% 220px 10%;
	float:left;
}
#nb{
		position: relative;
		width:35%;
		height: auto;
		margin:0px -6% 80px 0;
		float:right;
}

/* MOBILE XL */
@media only screen and (min-width: 480px) {
body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
#ai{
		position: relative;
		width:80%;
		margin:30px 10% 0px 10%;
		visibility: visible;
	}
#ai1{
		position: fixed;
		display: block;
		opacity:0;
	}
	#ai2{
		position: fixed;
		display: block;
		opacity:0;
	}
#smw{
	width:80%;
	margin:0px 5px 0px 6%;
}
#sdw{
	width:90%;
	margin:25px 5px 0px 7%;
}
#shfw{
	align-content:center;
	width:120%;
	margin:0px 35px 0px -10%;
	overflow-x:hidden;
}
#dsmw{
		position: fixed;
		display: block;
}	
#dsdw{
		position: fixed;
		display: block;
}
#dshfw{
		position: fixed;
		display: block;
}
	.rcp{
		margin:0 0 0px 0px;
	}
#mf{
	width:90%;
	margin:-40px 0px 0px -5px;
	float:left;
	overflow-x:hidden;
}
#df{
	width:90%;
	margin:0px 0px 0px 130px;
	float:left;
	overflow-x:hidden;
}
#pt{
	align-content:center;
	width:70%;
	margin:30px 15% 30px 15%;
	float:left;
}
#lcp{
		margin:0 0 0px 0px;
	}
#pm{
	width:160%;
	margin:-30% 0px 0px -40%;
	overflow-x:hidden;
}
#lp{
	align-content:center;
	width:80%;
	margin:70px 10% 220px 10%;
	float:left;
}
	#nb{
		position: relative;
		width:35%;
		height: auto;
		margin:0px -7% 80px 0;
		float:right;
}
}

/* TABLET */
@media only screen and (min-width: 1000px) {
body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
		#ai{
		position: fixed;
		display: block;
	}
	#ai1{
		position: relative;
		width:90%;
		margin:0px 0px 0px 0px;
		opacity:1;
		visibility: visible;
	}
	#ai2{
		position: relative;
		width:90%;
		margin:0px 0px 0px 0px;
		opacity:1;
		visibility: visible;
	}
	#smw{
		position: fixed;
		display: block;
}	
	#sdw{
		position: fixed;
		display: block;
}
	#shfw{
		position: fixed;
		display: block;
}	
	#dsmw{
		position: relative;
		width:73%;
		margin:30px 0px 40px 13%;
		visibility: visible;
}	
	#dsdw{
		position: relative;
		width:78%;
		margin:30px 0px 40px 10%;
		visibility: visible;
}
	#dshfw{
		position: relative;
		width:78%;
		margin:-20px 0px 40px 14%;
		visibility: visible;
}	
.rcp{
		position: inherit;
		width:34%;
		margin:35px 15% auto 0px;
		float:right;
	}
	#mf{
	width:60%;
	margin:-320px 0px 50px -30px;
	float:left;
}
	#df{
	width:60%;
	margin:-80px -150px 100px 0px;
	float:right;
	overflow-x:hidden;
}
	#sflat{
		position: relative;
		width:100%;
		height: inherit;
		margin:1800px 0 0 0;
	}
	#pflat{
		position: relative;
		width:100%;
		height: inherit;
		margin: 925px 0 0 0;
	}
	#pt{
		position: relative;
		width:65%;
		margin:30px 15% -140px 15%;
	}
.lcb{
		position: relative;
		width:100%;
		margin:1330px 0 0 0;
	}
.lcp{
		position: absolute;
		width:34%;
		margin:0px 0 0px 15%;
		float:left; 
	}
	#pm{
	position: inherit;
	width:100%;
	margin:-180px 0px 0px -15%;
	overflow-x:hidden;
}
	#lp{
	position: inherit;
	align-content:center;
	width:70%;
	margin:80px 15% 120px 15%;
}
	#nb{
		position: relative;
		width:35%;
		height: auto;
		margin:0px -8% 80px 0;
		float:right;
}
}
/* DESKTOP */
@media only screen and (min-width: 1500px) {
	body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
	#ai{
		position: fixed;
		display: block;
	}
	#ai1{
		position: relative;
		width:90%;
		margin:0px 0px 0px 0px;
		opacity:1;
		visibility: visible;
	}
	#ai2{
		position: relative;
		width:90%;
		margin:0px 0px 0px 0px;
		opacity:1;
		visibility: visible;
	}
	#smw{
		position: fixed;
		display: block;
}	
	#sdw{
		position: fixed;
		display: block;
}
	#shfw{
		position: fixed;
		display: block;
}	
	#dsmw{
		position: relative;
		width:73%;
		margin:30px 0px 40px 160px;
		visibility: visible;
}	
	#dsdw{
		position: relative;
		width:78%;
		margin:30px 0px 40px 140px;
		visibility: visible;
}
	#dshfw{
		position: relative;
		width:78%;
		margin:-30px 0px 40px 190px;
		visibility: visible;
}	
	.rcp{
		position: inherit;
		width:34%;
		margin:35px 200px auto 45px;
		float:right;
	}
	#mf{
	width:90%;
	margin:-370px 0px 50px -130px;
	float:left;
}
	#df{
	width:90%;
	margin:-290px -450px 0px 0px;
	float:right;
	overflow:hidden;
}
	#pflat{
		position: absolute;
		width:100%;
		height: inherit;
		margin: 1600px 0 0 0;
	}
	#sflat{
		position: absolute;
		width:100%;
		height: inherit;
		margin: 1600px 0 0 0;
	}
	#pt{
	align-content: center;
	width:65%;
	margin:30px 15% 0px 15%;
	float:left;
}
	#pm{
	width:120%;
	margin:0px 0px 0px -325px;
	overflow:hidden;
}
	#lp{
	align-content:center;
	width:80%;
	margin:100px 150px 200px 150px;
}
	#nb{
		position: relative;
		width:35%;
		height: auto;
		margin:0px -8% 80px 0;
		float:right;
}
}