@charset "UTF-8";
/* CSS Document */

/* MOBILE */
body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
table {
    font-family: "Rambla";
    border-collapse: collapse;
    width: 90%;
	margin:0 5% 5% 5%;
}

td, th {
    border: 0px;
	background-color: none;
    padding: 5%;
}

tr:nth-child(even) {
    background-color: none;
}
.icon{
		width:80%;
		margin:0 10% 5% 10%;
		float:left;
}
.icon2{
		width:80%;
		margin:0 10% 5% 10%;
		}


/* MOBILE XL */
@media only screen and (min-width: 480px) {
body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
	table {
    font-family: "Rambla";
    border-collapse: collapse;
    width: 80%;
	margin:0 10% 5% 10%;
}

td, th {
    border: 0px;
	background-color: none;
    padding: 5%;
}

tr:nth-child(even) {
    background-color: none;
}
.icon{
		width:70%;
		height:auto;
		margin:0 15% 5% 15%;
}
.icon2{
		width:70%;
		height:auto;
		margin:0 15% 5% 15%;
		float:right;
}
}
/* TABLET */
@media only screen and (min-width: 1000px) {
	body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
table {
    font-family: "Rambla";
    border-collapse: collapse;
    width: 70%;
	margin:0 15% 5% 15%;
}

td, th {
    border: 0px;
	background-color: none;
    padding: 5%;
}

tr:nth-child(even) {
    background-color: none;
}
.icon{
		width:60%;
		height:auto;
		margin:0 20% 55 20%;
		float:left;
}
.icon2{
		width:60%;
		height:auto;
		margin:0 20% 5% 20%;
		float:right;
}
	
}
	/* DESKTOP */
@media only screen and (min-width: 1500px) {
	body{
		margin:0;
		width:100%;
		height:auto;
		overflow-x:hidden;
	}
table {
    font-family: "Rambla";
    border-collapse: collapse;
    width: 70%;
	margin:0 15% 5% 15%;
}

td, th {
    border: 0px;
	background-color: none;
    padding: 5%;
}

tr:nth-child(even) {
    background-color: none;
}
	.icon{
		width: 60%;
		height: auto;
		margin:0 25% 55 25%;
		float:left;
}
	.icon2{
		width: 60%;
		height: auto;	margin:0 25% 5% 25%;
		float:left;
}
}