@charset "UTF-8";
/* CSS Document */

/* MOBILE */
#ux{
		position:relative;
	    margin:-80px 40px 0px 53%;
		float:left;
}
.icon{
		height:100px;
		margin:40px 35px 5px 35px;
		float:left;
}
.icon2{
		height:100px;
		margin:-104px 35px 5px 60%;
		float:right;
}
/* TABLET */
@media only screen and (min-width: 430px) {
	
}
	/* DESKTOP */
@media only screen and (min-width: 1366px) {
	#ux{
		position:relative;
	    margin:-160px 200px 0px 50%;
		float:left;
}
	.icon{
		height:335px;
		margin:70px 200px 5px 200px;
		float:left;
}
	.icon2{
		height:335px;
		margin:-335px 200px 5px 55%;
		float:left;
}
}