@charset "UTF-8";
/* CSS Document */

/* MOBILE */
body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
#ai{
		position: relative;
		width:84%;
		margin:30px 35px 0px 35px;
		visibility: visible;
	}
#ai1{
		position: fixed;
		display: block; overflow-x: hidden;
	}
	#ai2{
		position: fixed;
		display: block; overflow-x: hidden;
	}
#ismm{
	width:90%;
	margin:0px 5px 0px 17px;
}
#ismd{
	width:90%;
	margin:25px 5px 0px 17px;
}
#shfw{
	align-content:center;
	width:110%;
	margin:0px 5px 0px -30px;
	overflow-x:hidden;
}
#dsmw{
		position: fixed;
		display: block; overflow-x: hidden;
}	
#dsdw{
		position: fixed;
		display: block; overflow-x: hidden;
}
#dshfw{
		position: fixed;
		display: block; overflow-x: hidden;
}	
#mf{
	width:90%;
	margin:-40px 0px 0px -5px;
	float:left;
	overflow-x:hidden;
}
#df{
	width:90%;
	margin:0px 0px 0px 110px;
	float:left;
	overflow-x:hidden;
}
#pm{
	width:130%;
	margin:-100px 0px 0px -100px;
	overflow-x:hidden;
}
#lp{
	align-content:center;
	width:80%;
	margin:30px 35px 60px 35px;
	float:left;
}
/* MOBILE XL */
@media only screen and (min-width: 480px) {
body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
#ai{
		position: relative;
		width:80%;
		margin:30px 10% 0px 10%;
		visibility: visible;
	}
#ai1{
		position: fixed;
		display: block; overflow-x: hidden;
	}
	#ai2{
		position: fixed;
		display: block; overflow-x: hidden;
	}
#ismm{
	width:80%;
	margin:0px 5px 0px 8%;
}
#ismd{
	width:90%;
	margin:25px 5px 0px 17px;
}
#shfw{
	align-content:center;
	width:108%;
	margin:0px 5px 0px -5%;
	overflow:hidden;
}
#dsmw{
		position: fixed;
		display: block; overflow-x: hidden;
}	
#dsdw{
		position:fixed;
	visibility:hidden;
}
#dshfw{
		position:fixed;
	visibility:hidden;
}	
#mf{
	width:90%;
	margin:-40px 0px 0px -5px;
	float:left;
	overflow:hidden;
}
#df{
	width:90%;
	margin:0px 0px 0px 110px;
	float:left;
	overflow:hidden;
}
#pm{
	width:130%;
	margin:-160px 40px 0px -250px;
	overflow:hidden;
}
#lp{
	align-content:center;
	width:70%;
	margin:40px 15% 60px 15%;
	float:left;
}
}
/* TABLET */
@media only screen and (min-width: 1000px) {
body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
		#ai{
		position: fixed;
		display: block; overflow-x: hidden;
	}
	#ai1{
		position: relative;
		width:90%;
		margin:0px 0px 0px 0px;
		visibility: visible;
	}
	#ai2{
		position: relative;
		width:90%;
		margin:0px 0px 0px 0px;
		visibility: visible;
	}
	#ismm{
		position: fixed;
		display: block; overflow-x: hidden;
}	
	#ismd{
		position: fixed;
		display: block; overflow-x: hidden;
}
	#shfw{
		position: fixed;
		display: block; overflow-x: hidden;
}	
	#dsmw{
		position: relative;
		width:73%;
		margin:30px 0px 40px 13%;
		visibility: visible;
}	
	#dsdw{
		position: relative;
		width:78%;
		margin:60px 0px 40px 10%;
		visibility: visible;
}
	#dshfw{
		position: relative;
		width:78%;
		margin:30px 0px 40px 14%;
		visibility: visible;
}	
	#mf{
	width:60%;
	margin:-470px 0px 50px -30px;
	float:left;
}
	#df{
	width:60%;
	margin:-80px -150px 0px 0px;
	float:right;
	overflow:hidden;
}
	#sflat{
		position: absolute;
		width:100%;
		height: inherit;
		margin:960px 0 0 0;
	}
	#pm{
	width:130%;
	margin:-10% 0px 60px -300px;
	overflow:hidden;
}
	#lp{
	align-content:center;
	width:70%;
	margin:60px 15% 100px 15%;
}
		#nb{
		position: relative;
		width:35%;
		height: auto;
		margin:0px -8% 80px 0;
		float:right;
}
}
/* DESKTOP */
@media only screen and (min-width: 1500px) {
body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
	#ai{
		position: fixed;
		display: block; overflow-x: hidden;
	}
	#ai1{
		position: relative;
		width:90%;
		margin:0px 0px 0px 0px;
		visibility: visible;
	}
	#ai2{
		position: relative;
		width:90%;
		margin:0px 0px 0px 0px;
		visibility: visible;
	}
	#ismm{
		position: fixed;
		display: block; overflow-x: hidden;
}	
	#sdw{
		position: fixed;
		display: block; overflow-x: hidden;
}
	#shfw{
		position: fixed;
		display: block; overflow-x: hidden;
}	
	#dsmw{
		position: relative;
		width:73%;
		margin:30px 0px 40px 160px;
		visibility: visible;
}	
	#dsdw{
		position: relative;
		width:78%;
		margin:50px 0px 40px 140px;
		visibility: visible;
}
	#dshfw{
		position: relative;
		width:78%;
		margin:-20px 0px 40px 190px;
		visibility: visible;
}	
	#mf{
	width:1400px;
	margin:-470px 0px 50px -130px;
	float:left;
}
	#df{
	width:1500px;
	margin:-400px -450px 0px 0px;
	float:right;
	overflow:hidden;
}
	#sflat{
		position: absolute;
		width:100%;
		height: inherit;
		margin:1700px 0 0 0;
	}
	#pm{
	width:90%;
	margin:-100px 0px 0px -100px;
	overflow:hidden;
}
	#lp{
	align-content:center;
	width:82%;
	margin:60px 150px 140px 150px;
}
}