@charset "UTF-8";
/* CSS Document */

/* MOBILE */
body{
		margin:0;
		width:100%;
		height:auto;
		overflow-x:hidden;
	}
#ai{
		position: relative;
		width:84%;
		margin:30px 35px 0px 35px;
		visibility: visible;
	}
#ai1{
		position: fixed;
		visibility: hidden;
	}
	#ai2{
		position: fixed;
		visibility: hidden;
	}
#smw{
	width:90%;
	margin:0px 5px 0px 17px;
}
#sdw{
	width:90%;
	margin:25px 5px 0px 17px;
}
#shfw{
	align-content:center;
	width:425px;
	margin:0px 5px 0px 0px;
}
#dsmw{
		position: fixed;
		visibility: hidden;
}	
#dsdw{
		position:fixed;
	visibility:hidden;
}
#dshfw{
		position:fixed;
	visibility:hidden;
}
	.rcp{
		margin:0 0 0px 0px;
	}
#mf{
	width:521px;
	margin:-40px 0px 0px -5px;
	float:left;
	overflow:hidden;
}
#df{
	width:451px;
	margin:0px 0px 0px -27px;
	float:left;
	overflow:hidden;
}
#pm{
	width:597px;
	margin:-100px 0px 0px -100px;
	overflow:hidden;
}
#lp{
	align-content:center;
	width:374px;
	margin:30px 0px 80px 10px;
	float:left;
}

/* MOBILE XL */
@media only screen and (min-width: 480px) {
body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
#ai{
		position: relative;
		width:80%;
		margin:30px 10% 0px 10%;
		visibility: visible;
	}
#ai1{
		position: fixed;
		display: block;
	}
	#ai2{
		position: fixed;
		display: block;
	}
#smw{
	width:80%;
	margin:0px 5px 0px 6%;
}
#sdw{
	width:90%;
	margin:25px 5px 0px 7%;
}
#shfw{
	align-content:center;
	width:120%;
	margin:0px 35px 0px -8%;
	overflow-x:hidden;
}
#dsmw{
		position: fixed;
		display: block;
}	
#dsdw{
		position: fixed;
		display: block;
}
#dshfw{
		position: fixed;
		display: block;
}
		.rcp{
		margin:0 0 0px 0px;
	}
#mf{
	width:90%;
	margin:-40px 0px 0px -5px;
	float:left;
	overflow-x:hidden;
}
#df{
	width:90%;
	margin:0px 0px 0px 130px;
	float:left;
	overflow-x:hidden;
}
#pt{
	align-content:center;
	width:70%;
	margin:30px 15% 0px 15%;
	float:left;
}
#pm{
	width:160%;
	margin:-30% 0px 0px -40%;
	overflow-x:hidden;
}
#lp{
	align-content:center;
	width:80%;
	margin:70px 10% 0px 10%;
	float:left;
}
}


/* TABLET */
@media only screen and (min-width: 1000px) {
body{
		margin:0;
		width:100%;
		height:auto;
		overflow-x:hidden;
	}
		#ai{
		position: fixed;
		visibility: hidden;
	}
	#ai1{
		position: relative;
		width:90%;
		margin:0px 0px 0px 0px;
		visibility: visible;
	}
	#ai2{
		position: relative;
		width:90%;
		margin:0px 0px 0px 0px;
		visibility: visible;
	}
	#smw{
		position: fixed;
		visibility: hidden;
}	
	#sdw{
		position: fixed;
		visibility: hidden;
}
	#shfw{
		position: fixed;
		visibility: hidden;
}	
	#dsmw{
		position: relative;
		width:73%;
		margin:30px 0px 40px 13%;
		visibility: visible;
}	
	#dsdw{
		position: relative;
		width:78%;
		margin:30px 0px 40px 10%;
		visibility: visible;
}
	#dshfw{
		position: relative;
		width:78%;
		margin:30px 0px 40px 14%;
		visibility: visible;
}
.rcp{
		position: inherit;
		width:34%;
		margin:35px 15% auto 0px;
		float:right;
	}
	#mf{
	width:60%;
	margin:-300px 0px 50px -30px;
	float:left;
}
	#df{
	width:60%;
	margin:-80px -150px 0px 0px;
	float:right;
	overflow:hidden;
}
	#sflat{
		position: absolute;
		width:100%;
		height: inherit;
		margin:1200px 0 0 0;
	}
	#pm{
	width:90%;
	margin:30px 0px 40px -100px;
	overflow:hidden;
}
	#lp{
	align-content:center;
	width:70%;
	margin:40px 15% 100px 15%;
}
}
/* DESKTOP */
@media only screen and (min-width: 1500px) {
body{
		margin:0;
		width:100%;
		height:auto;
		overflow-x:hidden;
	}
	#ai{
		position: fixed;
		visibility: hidden;
	}
	#ai1{
		position: relative;
		width:90%;
		margin:0px 0px 0px 0px;
		visibility: visible;
	}
	#ai2{
		position: relative;
		width:90%;
		margin:0px 0px 0px 0px;
		visibility: visible;
	}
	#smw{
		position: fixed;
		visibility: hidden;
}	
	#sdw{
		position: fixed;
		visibility: hidden;
}
	#shfw{
		position: fixed;
		visibility: hidden;
}	
	#dsmw{
		position: relative;
		width:73%;
		margin:30px 0px 40px 160px;
		visibility: visible;
}	
	#dsdw{
		position: relative;
		width:78%;
		margin:30px 0px 40px 140px;
		visibility: visible;
}
	#dshfw{
		position: relative;
		width:78%;
		margin:30px 0px 40px 190px;
		visibility: visible;
}	
	.rcp{
		position: inherit;
		width:34%;
		margin:35px 200px auto 45px;
		float:right;
	}
	#mf{
	width:1400px;
	margin:-370px 0px 50px -130px;
	float:left;
}
	#df{
	width:1500px;
	margin:-400px -450px 0px 0px;
	float:right;
	overflow:hidden;
}
	#sflat{
		position: absolute;
		width:100%;
		height: inherit;
		margin:1700px 0 0 0;
	}
	#pm{
	width:90%;
	margin:-180px 0px 60px -100px;
	overflow:hidden;
}
	#lp{
	align-content:center;
	width:70%;
	margin:30px 15% 120px 13%;
}
}