@charset "UTF-8";
/* CSS Document */

/* MOBILE */
body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
#ai{
		position: relative;
		width:84%;
		margin:30px 35px 0px 35px;
		visibility: visible;
	}
#ai1{
		position: fixed;
		display: block; overflow-x: hidden;
	}
	#ai2{
		position: fixed;
		display: block; overflow-x: hidden;
	}
#rtrm{
		position: relative;
		width:84%;
		margin:30px 35px 0px 35px;
		visibility: visible;
	}
	#rtrd{
		position: fixed;
		display: block; overflow-x: hidden;
	}
.sk{
		position: relative;
		width:75%;
		margin:10px 35px 30px 35px;
		visibility: visible;
	}
#sk{
		position: fixed;
		display: block;
	}
.mim{
		position: relative;
		width:84%;
		margin:0px 35px 0px 15px;
		visibility: visible;
	}
.rcp{
		margin:0 0 0px 0px;
	}
#mid{
		position: fixed;
		display: block; overflow-x: hidden;
	}
#mi2{
		position: relative;
		width:75%;
		margin:20px 19% 20px 35px;
		visibility: visible;
	}
.rcf{
		margin:0 0 0px 0px;
	}
#fm{
		position: relative;
		width:84%;
		margin:0px 35px 0px 35px;
		visibility: visible;
	}
#fm2{
		position: relative;
		width:84%;
		margin:35px 35px 30px 35px;
		visibility: visible;
	}
#fd{
		position: fixed;
		display: block; overflow-x: hidden;
	}
#c{
		position: relative;
		width:80%;
		margin:35px 35px 30px 35px;
		visibility: visible;
}
#fim{
		position: relative;
		width:100%;
		margin:50px 0px 0px 0px;
		visibility: visible;
	}
#t{
		position: relative;
		width:84%;
		margin:70px 35px 0px 35px;
		visibility: visible;
	}
#pl{
		position: relative;
		width:82%;
		margin:0px 0px 0px 30px;
		visibility: visible;
	}
#fi{
	width:85%;
	margin:0px 35px 60px 35px;
}


/* MOBILE XL */
@media only screen and (min-width: 480px) {
body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
#rtrm{
		position: relative;
		width:80%;
		margin:30px 10% 0px 10%;
		visibility: visible;
	}
	#rtrd{
		position: fixed;
		display: block; overflow-x: hidden;
	}
#sk{
		position: relative;
		width:80%;
		margin:30px 10% 0px 10%;
		visibility: visible;
	}
.sk{
		position: fixed;
		display: block;
	}
.mi{
		position: relative;
		width:70%;
		margin:40px 15% 0px 10%;
		visibility: visible;
	}
.rcf{
		margin:0 0 0px 0px;
	}
#fm{
		position: relative;
		width:80%;
		margin:0px 10% 0px 10%;
		visibility: visible;
	}
#fm2{
		position: relative;
		width:80%;
		margin:35px 10% 30px 10%;
		visibility: visible;
	}
#fd{
		position: fixed;
		display: block; overflow-x: hidden;
	}
#c{
		position: relative;
		width:80%;
		margin:35px 10% 30px 10%;
		visibility: visible;
}
.mim{
		position: relative;
		width:80%;
		margin:0px 10% 0px 5%;
		visibility: visible;
	}
.rcp{
		margin:0 0 0px 0px;
	}
#mid{
		position: fixed;
		display: block; overflow-x: hidden;
	}
#mi2{
		position: relative;
		width:70%;
		margin:40px 20% 20px 10%;
		visibility: visible;
	}
#rtp{
		position: relative;
		width:100%;
		margin:0px 0px 0px 0px;
		visibility: visible;
	}
#t{
		position: relative;
		width:85%;
		margin:80px 10% 0px 5%;
		visibility: visible;
		z-index:38;
	}
#pl{
		position: relative;
		width:80%;
		margin:-10% 10% 0px 10%;
		visibility: visible;
		z-index: 0;
	}
#fi{
	width:80%;
	margin:0px 10% 0 10%;
}
		#nb{
		position: relative;
		width:35%;
		height: auto;
		margin:0px -7% 80px 0;
		float:right;
}
}
/* TABLET */
@media only screen and (min-width: 1000px) {
body{
		margin:0;
		width:100vw;
		height:auto;
		overflow-x:hidden;
	}
	#rtrm{
		position: fixed;
		overflow-x: hidden;
		opacity:0;
	}
	#rtrd{
		position: absolute;
		width:30%;
		margin:0px 0px 0px 0px;
		visibility: visible;
	}
	#sk{
		position: relative;
		width:60%;
		margin:0px 20% 0px 20%;
		visibility: visible;
	}
	.sk{
		position: fixed;
		display: block;
	}
	.rcb{
		position: relative;
		width:100%;
		margin:0;
	}
	.rcf{
		position: absolute;
		width:34%;
		margin:3% 15% auto 54%;
		float:right;
	}
	#fd{
		position: relative;
		width:84%;
		margin:30px 35px 40px 15%;
		visibility: visible;
	}
	#fm{
		position: fixed;
		display: block; overflow-x: hidden;
	}
   #fm2{
		position: fixed;
		display: block; overflow-x: hidden;
	}
	#c{
		position: relative;
		width:70%;
		margin:35px 15% 30px 15%;
		visibility: visible;
}
	#mid{
		position: relative;
		width:70%;
		margin:30px 20% 30px 13%;
		visibility: visible;
	}
	.rcp{
		position: inherit;
		width:35%;
		margin:30px 15% auto 0px;
		float:right;
	}
	#mi2{
		position: relative;
		width:65%;
		margin:40px 19% 0px 16%;
		visibility: visible;
	}
	.mim{
		position: fixed;
		display: block; overflow-x: hidden;
	}
#t{
		position: relative;
		width:85%;
		margin:80px 10% 0px 5%;
		visibility: visible;
		z-index:38;
	}
#pl{
		position: relative;
		width:80%;
		margin:-10% 10% 0px 7%;
		visibility: visible;
		z-index: 0;
	}
#fi{
	width:80%;
	margin:80px 10% 80px 10%;
}
		#nb{
		position: relative;
		width:35%;
		height: auto;
		margin:0px -8% 80px 0;
		float:right;
}
}
/* DESKTOP */
@media only screen and (min-width: 1500px) {
	body{
		margin:0;
		width:100%;
		height:auto;
		overflow-x:hidden;
	}
	#rtrm{
		position: fixed;
		display: block; overflow-x: hidden;
	}
	#rtrd{
		position: absolute;
		width:35%;
		margin:0px 0px 0px 0px;
		visibility: visible;
	}
	#sk{
		position: relative;
		width:50%;
		margin:0px 25% 0px 25%;
		visibility: visible;
	}
	.sk{
		position: fixed;
		display: block;
	}
	#fd{
		position: relative;
		width:84%;
		margin:30px 35px 40px 200px;
		visibility: visible;
	}
	#fm{
		position: fixed;
		display: block; overflow-x: hidden;
	}
   #fm2{
		position: fixed;
		display: block; overflow-x: hidden;
	}
	#mid{
		position: relative;
		width:78%;
		margin:30px 35px 0px 180px;
		visibility: visible;
	}
	.rcp{
		position: inherit;
		width:35%;
		margin:30px 200px auto 45px;
		float:right;
	}
		.rcf{
		position: inherit;
		width:34%;
		margin:-9.5% 0 auto 0px;
		float:right;
	}
	#mid2{
		position: relative;
		width:80%;
		margin:30px 35px 0px 120px;
		visibility: visible;
	}
	.mim{
		position: fixed;
		display: block; overflow-x: hidden;
	}
	#sflat{
		position: absolute;
		width:100%;
		height: inherit;
		margin:0px 0 0 0;
	}
#t{
		position: relative;
		width:85%;
		margin:140px 10% 0px 5%;
		visibility: visible;
		z-index:38;
	}
#pl{
		position: relative;
		width:70%;
		margin:-60px 15% 0px 15%;
		visibility: visible;
		z-index: 0;
	}
#fi{
	width:80%;
	margin:0px 10% 60px 10%;
}
		#nb{
		position: relative;
		width:35%;
		height: auto;
		margin:0px -8% 80px 0;
		float:right;
}
}